@charset "UTF-8";

@font-face {
     font-family: 'NIXGONM-Vb';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
tbody{
	background-color:white;
}
.wrap{
	width: 100%;
	height: 100%;
}

.table_div{
	width: 70%;
	height: 100%;
	margin:0 auto;
}
table{
	margin-top:15px;
}
.td1{
	width:100%;
	text-align:center;
	border-top:3px solid #eeeeee;
	border-left:3px solid #eeeeee;
	border-right:3px solid #ff7276;
	border-bottom:3px solid #ff7276;
	padding-top:10px;
	padding-left:10px;
	padding-right:5px;
	background-color:white;
	margin-bottom:100px;
}

#table_write{
	height: 50%;
}

img{
	margin-right: 100px;
	width: 50px;
	height: 50px;
	transform:scale(1);
	transition: .3s;
}

img:hover{
	transform:scale(5);
	
}
#img_table{
	text-align: center;
}

a{
	float: right;
	margin: 10px;
	
}
.review_title{
	width:100%;
	height:80px;
}
.title1{
	float:left;
	color:#4e4e4e;
	font-size:1.6em;
	font-family: 'NIXGONM-Vb';
}
.title2{
	float:right;
	color:grey;
	font-size:0.8em;
	font-family: 'GmarketSansMedium';
}
.td2{
	font-family: 'IBMPlexSansKR-Regular';
	color:#4e4e4e;
}
.td3{
	font-size:0.8em;
	color:grey;
}
.button1{
	font-family: 'GmarketSansMedium';
	width:80px;
	height:30px;
	font-size:0.8em;
	border-top:0;
	border-left:0;
	border-right:2px solid #ff7276;
	border-bottom:2px solid #ff7276;
	float:left;
	background-color:white;
}
