@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,html{
  margin: 0px;
  padding: 0px;
  height: 100%;

}
body{
   font-family: 'ImcreSoojin';
  /* font-family: 'Nanum Brush Script'; */
}

a{
  text-decoration: none;
  color:black;
}

li{
  list-style: none;
}
hr{
  margin: 0;
  padding: 0;
}

nav{
  width: 100%;
  height: 10%;
}


footer{
  width: 100%;
  height: 10%;
}
.title{
  top:0;
  position:sticky;
  background-color: white;
  /* opacity: 0.3; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -1px 20px -1px #ddd;
  z-index: 1;
  /* padding: 8px 10px; */
  /* background-color: #D7AC87; */

}

.navbar{
  font-size:20px;
  flex-direction: column;
  padding: 8px 24px;
  align-items: flex-start;
}


.login{
  display:flex;
  list-style: none;
  margin-right: 10px;
}

.login li{
  padding: 5px 5px;
  color: black;
  margin: 10px;
  font-size: 1.3em;
}


.menu{

  display: flex;
  justify-content: center;
  background: #fff;
  width:100%;
  right: -100%;
  position: fixed;
  transition: all .99s;
  z-index: 2;
  opacity: 0.7;
  height:20%;
  font-size: 1.3em;


}

.menu.show{

  right:0;
}
.menu ul li{
  margin-top : 50px;
}
.foot{
  margin:0;
  padding:0;
  border:0;
}
.mm{
  width:100%;
}

.menu ul{
  margin: 20px;
}

.review_select{
    float: left;
}

.container{
  width:80%;
  margin:0 auto;
}

.container .row{
  
}
.container .row .table-striped{
  width:100%;
  text-align:center;
  border:1px solid #dddddd;
}


.foot{
  background: #5a5a5a;
  display: flex;
}

.foot_menu{
  margin :0;
  display: flex;
}
.sub_container{
	border-bottom:7px solid #ff7276;
	padding:10px;
	text-align:center;
}
.main_title{
	
}
.table_color{

	
}
.review_ul{
  padding:0;
  width:100%;
  text-align: center;
  justify-content: center;
  display: inline-flex;

}

.review_ul>li{
   padding: 10px;
   font-size:13px;
   margin: 5px;

}

.review_ul>li:hover{
  background-color: #ff7276;
}


footer>pre{
  /* font-family: 'Black Han Sans', sans-serif; */
  font-family: 'ImcreSoojin';
  box-shadow: 0px 2px 10px 0px #b4b4b4 inset;
  font-size: 1.0em;
}